/.idea
boostingMonocularDepth/pix2pix/checkpoints

boostingMonocularDepth/midas/model-f46da743.pt
boostingMonocularDepth/midas/model.pt
/structuredrl/model.pth.tar
dataset_prepare/midas/model.pt
/results
/result
/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*/**/__pycache__

/test_heights_adjust
/test_rgbs_base
/outputs
/inputs
/im2ele/Block0_skip_model_110.pth.tar
/im2ele/models/senet154-c7b49a05.pth
*.csv
